################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/Morningstar2/x64/Debug
/Testing/Temporary
/x64/Debug
